body
{
    background: #F6F6F6;
    margin: 0 0 0 0;
    font-size: 0.85em;
}

#content-wrapper
{
    width: 100%;
    background: #F6F6F6;
    margin: 0 0 0 0;
}

#menu
{
    float: left;
    width: 176px;
    height: 100%;
    text-align: center;
    font-size: small;
    padding: 10px 2px 2px 2px;
}

#content
{
    margin: 0 0 0 176px;
    padding: 24px 24px 24px 24px;
    background: white;
    height: 100%;
    border-left: 1px solid #A7D7F9;
    border-bottom: 1px solid #A7D7F9;
} 

h1
{
    margin-bottom: 0.1em;
    line-height: 1.2em;
    padding-bottom: 0;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: normal;
}

h2
{
    font-size: 1.45em;
    font-weight: normal;
    display: inline;
    margin:0 .5em 0 0;
}

h3
{
    font-size: 132%;
}

hr
{
    height:1px;
    color:#aaa;
    background-color:#aaa;
    border:0;
    margin:.1em 0 0.2em;
}

#menu-content
{
    margin: 50px 10px 0 27px;
    text-align: left;
}

#menu-item
{
    margin-bottom: 5px;
}

a
{
    color: #0645AD;
    text-decoration: none;
}

a:visited, a:active
{
    color: #08008C; 
}
a.ext
{
    color: #36B;
}
a.ext:visited
{
    color: #636;
}
table.wikitable
{
    margin: 1em 0;
    border-collapse:collapse;
}

table.wikitable th
{
    border: 1px #aaa solid;
    background-color: #f2f2f2;
    padding: 0.2em 1em 0.2em 1em;
    text-align: center;
}
table.wikitable td
{
    border: 1px #aaa solid;
    background-color: #F9F9F9;
    text-align: center;
}
table.wikitable > caption {
    font-weight: bold;
}
ul
{
    padding-left: 0.5em;
    list-style-type: none;
}
ul li
{
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/90/Vector-bullet-icon.png) no-repeat 0% 0%;
    padding:0 0 4px 14px;
}
select
{
    margin-top:1em;
    border:1px solid #A7D7F9;
    background-color:#F6F6F6;
}
table.lista > caption {
    font-weight: bold;
}

