<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>{{ title }}</title>

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Tool_labs_logo.ico') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}" />
{%- if rickshaw %}
        <link rel="stylesheet" href="{{ url_for('static', filename='rickshaw/rickshaw.min.css') }}">
        <script src="{{ url_for('static', filename='rickshaw/vendor/d3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='rickshaw/vendor/d3.layout.min.js') }}"></script>
        <script src="{{ url_for('static', filename='rickshaw/rickshaw.js') }}"></script>
{%- endif  %}{% if data %}
        <script src="{{ url_for('static', filename='graphs.js') }}"></script>
{%- endif %}
{% block head %}{% endblock %}
    </head>
    <body>
        <div id="content-wrapper">
            <div id="menu">
{#-###  MENU  ####}
<img src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Tool_labs_logo.svg/120px-Tool_labs_logo.svg.png">
                <div id="menu-content">
<div id="menu-item"><a href="{{ url_for('.index') }}">Main page</a></div>
{%- for name, years in menu.items() %}
<div id="menu-item"><a href="{{ url_for('.index') }}{{ name }}">WL {{ name|capitalize }}</a></div>
{%- for year in years %}
<div id="menu-item"><a href="{{ url_for('.index') }}{{name}}/{{ year }}"> &nbsp; {{ year }}</a></div>
{%- endfor %}
{%- endfor -%}
{# END MENU #}
                </div>
            </div>
            <div id="content">
<br/>
<h1>{{ title }}</h1>
<hr/> Tool Labs – Tools for Wiki Loves Photo Competitions <br/><br/>

<div style="font-size:1.8em; font-weight:bold; color:gray; text-align:center">
</div>
{% block content %}{% endblock %}
{% if warn %}<p style="color:#500">{{ warn }}</p>{% endif %}

            </div>
       </div>
       <div style="float: right; margin: 10px 8px; font-size:x-small">
Made with <a href="http://flask.pocoo.org/">Flask</a>
       </div>
       <div style="text-align:center; font-size:x-small; margin: 10px 10px 12px 181px">
The <a href="https://github.com/ptwikis/wikiloves">source</a> of this tool is available under GNU General Public License 3.0 (GPL V3).
       </div>
    </body>
</html>

 
