{% extends "base.html" %}
{% block head %}
        <script>
var data = [
{%- for name, series in data|dictsort %}
{id: "graph-{{ name }}", type: "bar", name: "{{ name }}", series: [
    {% for year, d in series|dictsort -%}
    {year: {{ year }}, {#
   #}count: {{ d['count'] }}, {#
   #}usage: {{ d['usage'] }}, {#
   #}usercount: {{ d['usercount'] }}, {#
   #}userreg: {{ d['userreg'] }}}{% if not loop.last %}, {% endif %}
    {% endfor -%}
]}{% if not loop.last %}, {% endif %}
{%- endfor %}
]
	</script>
{% endblock %}
{% block content %}
{% if data %}
<h2>Wiki Loves Earth</h2><hr/>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/WLE_Austria_Logo.svg/100px-WLE_Austria_Logo.svg.png" style="float:right"/>
<div id="graph-earth"></div><br/>
<table style="text-align:center; border-collapse:collapse; min-width:500px; margin-top:8px">
    <tr>
        <th>Year</th>
        <th style="background-color:#339966; color:white">Uploads</th>
        <th style="background-color:#45E695">Images used<br/>in the wikis</th>
        <th style="background-color:#2266AA; color:white">Uploaders</th>
        <th style="background-color:#5CA3E6; color:white">Uploaders registered<br/>after competition start</th>
    </tr>
    {% for year, d in data['earth']|dictsort -%}
    <tr>
        <td><a href="{{ url_for('index') }}earth/{{ year }}">{{ year }}</a></td>
        <td style="background-color:#F8F8F8">{{ d['count'] }}</td>
        <td>{{ d['usage'] }} ({{ (100 * d['usage'] / d['count'] if d['count'] != 0 else 0)|int }}%)</td>
        <td style="background-color:#F8F8F8">{{ d['usercount'] }}</td>
        <td>{{ d['userreg'] }} ({{ (100 * d['userreg'] / d['usercount'] if d['usercount'] != 0 else 0)|int }}%)</td>
    </tr>{% endfor %}
</table>
<br/><br/>
<h2>Wiki Loves Monuments</h2><hr/>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/LUSITANA_WLM_2011_d.svg/100px-LUSITANA_WLM_2011_d.svg.png" style="float:right"/>
<div id="graph-monuments"></div><br/>
<table style="text-align:center; border-collapse:collapse; min-width:500px; margin-top:8px">
    <tr>
        <th>Year</th>
        <th style="background-color:#8F0000; color:white">Uploads</th>
        <th style="background-color:#E62E2E; color:white">Images used<br/>in the wikis</th>
        <th style="background-color:#2266AA; color:white">Uploaders</th>
        <th style="background-color:#5CA3E6; color:white">Uploaders registered<br/>after competition start</th>
    </tr>
    {% for year, d in data['monuments']|dictsort -%}
    <tr>
        <td><a href="{{ url_for('index') }}monuments/{{ year }}">{{ year }}</a></td>
        <td style="background-color:#F8F8F8">{{ d['count'] }}</td>
        <td>{{ d['usage'] }} ({{ (100 * d['usage'] / d['count'] if d['count'] != 0 else 0)|int }}%)</td>
        <td style="background-color:#F8F8F8">{{ d['usercount'] }}</td>
        <td>{{ d['userreg'] }} ({{ (100 * d['userreg'] / d['usercount'] if d['usercount'] != 0 else 0)|int }}%)</td>
    </tr>{% endfor %}
</table>
<br/><br/>
<h2>Countries</h2><hr/>
<table style="text-align:center; border-collapse:collapse; min-width:400px; margin-top:8px">
    <tr>
        <th>Country</th>
        <th style="background-color:#339966; color:white">Wiki Loves Earth</th>
        <th style="background-color:#8F0000; color:white">Wiki Loves Monuments</th>
    </tr>
    {%- for c, events in countries|dictsort %}
    <tr><td><a href="{{ url_for('country', name=c) }}">{{ c }}</a></td><td>{{ events[0]|sort|join(', ') if events[0] else ''}}</td>{#
        #}<td>{{ events[1]|sort|join(', ') if events[1] else ''}}</td></tr>
    {%- endfor %}
</table>
<br/>
<h2>Tool Configuration</h2><hr/>
<p>The data is updated once a day and before each update the configuration is read from the <a href="https://commons.wikimedia.org/wiki/Module:WL_data">Module:WL data</a> in Commons, edit the module to add countries, add a new competition or modify the configuration.
The name the country of each prefix and the competition period need to be configured in this page. 
See the <a href="{{ url_for('logpage') }}">log page</a> to help find erros in the configuration.</p>
{% else %}
<p>Error: no database found</p>
{% endif %}
{% endblock %} 
